@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Titan+One&display=swap');

/*global styles*/

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #333333;
    --font-family: 'Rubik', sans-serif;
    --heading-font-family: 'Titan One', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display : flex;
    justify-content : center;
    align-items: center;
    min-height: 100vh;
    background: url(https://img.freepik.com/premium-photo/pastel-watercolor-brush-stroke-clipart-background_303085-18696.jpg) no-repeat center center/cover;
    color: var(--text-color);
    font-family: var(--font-family);
}

/*container styles*/

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 0 20px;
}

.to-do {
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.to-do h1 {
    font-family: var(--heading-font-family);
    color: var(--secondary-color)!important;
    text-align: left;
    padding-top: 20px;
    font-size: 2em;
  
}

/*form styles*/

#task-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-input {
    flex: 1;
    padding: 10px 17px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    color:#333333;
}

#add-task-btn {
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    background: transparent;
    color: #333333;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#add-task-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.1);
}

.box-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-list {
    list-style: none;
    width: 100%;
}